/* write your override styles here */
#wall .tag-1 {
    display: none;
}

div#wall #tag-2 {
    display: none;
}

div#wall div#tag-3.slick {
    display: none;
}

.parent {
    display: none;
}

div#wall div.parent #tag-5.slick {
    display: none;
}

#tag-6 {
    display: none;
}

#slick .tag-7 {
    display: none;
}